<div class="signup-container">
    <div class="carreau">
        <h2 mat-dialog-title
            style="text-align: center;color: rgb(252, 252, 252);font-size: 22px;font-family:sans-serif;position: absolute;right: 180px;bottom: -2px;">
            Créer un compte</h2>
    </div>
    <div style="position: absolute;right: 130px;bottom: 366px;left: 100px;">
        <h3 style="text-align: center;font-family:sans-serif;font-size:22px;">
            Créer un compte pour pouvez publier des annonces et contactez les locateurs </h3>
    </div>


    <form>
        <div class="name">
            <input class="form-control" type="text" placeholder="Prenom" style="background-color:rgb(236, 243, 241);"
                name="nom" required>
        </div>
        <div class="mail">
            <input type="email" class="form-control" placeholder="Email*" style="background-color:rgb(236, 243, 241);"
                name="email" required>
        </div>

        <div class="pwd">
            <input type="password" class="form-control" placeholder="mot de passe*" aria-label="password"
                aria-describedby="addon-wrapping" style="background-color:rgb(236, 243, 241);" name="password1"
                required>
        </div>
        <div class="phone">
            <input type="text" class="form-control" placeholder="phone Number*"
                style="background-color:rgb(236, 243, 241);" name="phone" required>
        </div>
        <div class="usertype">
            <select class="form-control" style="background-color: rgb(236, 243, 241);" name="user-type" required>
                <option value="" disabled selected>Select user type</option>
                <option value="client">Client</option>
                <option value="proprietaire">Propriétaire</option>
            </select>
        </div>


        <!-- <div class="pwd2">
            <input type="password" class="form-control" placeholder="Confirmer votre mot de passe*"
                aria-label="password" aria-describedby="addon-wrapping" style="background-color:rgb(236, 243, 241);"
                name="password2" required>

        </div> -->

        <div class="btn2">
            <button type="submit" class="btn">Créer</button>
        </div>

        <p class="parg">vous avez un compte , <a (click)="gotologin()" style="color: blue;cursor: pointer;">se
                connecter</a></p>

    </form>

</div>