<div class="buttons">
    <button type="button" class="btn btn-light" id="compte">Logements</button>
    <button type="button" class="btn btn-light" id="notif" (click)="gotonotification()">Notification</button>
    <button type="button" class="btn btn-light" id="Favoris" (click)="gotofavoris()">Messages</button>
    <button type="button" class="btn btn-light" id="Paramètre" (click)="gotoparametres()">Paramètre</button>
</div>

<div>
    <button mat-button color="primary" class="addlog" type="button" (click)="goto_add_announcement()">AJOUTER UNE
        ANNONCE</button>
</div>

<hr style="width: 1520px;position:absolute;bottom: 510px;right:1px ;height: 75px;">


<div class="card-container">
    <div class="card">
        <!-- Card Image -->
        <img src="assets/app1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-text">Maison a louer a Sousse</h4>
            <h5 class="card-text">Msaken</h5>
            <h5 class="card-text">120 dt</h5>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary">Modify</button>
        </div>
    </div>

    <!-- Duplicate this structure to create more cards -->
    <div class="card">
        <img src="assets/app1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-text">Maison a louer a Sousse</h4>
            <h5 class="card-text">Msaken</h5>
            <h5 class="card-text">120 dt</h5>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary">Modify</button>
        </div>
    </div>

    <div class="card">
        <img src="assets/app1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-text">Maison a louer a Sousse</h4>
            <h5 class="card-text">Msaken</h5>
            <h5 class="card-text">120 dt</h5>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary">Modify</button>
        </div>
    </div>

    <div class="card">
        <img src="assets/app1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-text">Maison a louer a Sousse</h4>
            <h5 class="card-text">Msaken</h5>
            <h5 class="card-text">120 dt</h5>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary">Modify</button>
        </div>
    </div>

    <div class="card">
        <img src="assets/app1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-text">Maison a louer a Sousse</h4>
            <h5 class="card-text">Msaken</h5>
            <h5 class="card-text">120 dt</h5>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary">Modify</button>
        </div>
    </div>



</div>