#userImage {
    position: absolute;
    bottom: 230px;
    left: 120px;
    width: 270px;
}

.paragraphe {
    position: absolute;
    bottom: 290px;
    left: 500px;
}

.salut {
    position: absolute;
    bottom: 430px;
    left: 500px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 35px;
    text-align: center;
    font-family: arial;
    flex-basis: calc(33.33% - 20px);
    background-color: #ffffff;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 600px;
}

.card img {
    height: 250px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card .card-body {
    padding: 10px 50px;
}

.card .card-title {
    font-size: 20px;
}

.card .card-text {
    font-size: 14px;
    color: gray;
}

.btn1 {
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    height: 30px;
    width: 90px;
    color: blue;
}

.btn2 {
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    height: 30px;
    width: 90px;
    color: red;
}

#notif:hover {
    background-color: #ccc;
}

#compte:hover {
    background-color: #ccc;
}

#Favoris:hover {
    background-color: #ccc;
}

#Paramètre:hover {
    background-color: #ccc;
}

#compte {
    position: absolute;
    left: 1px;
    bottom: 600px;
    background-color: white;
    border-color: white !important;
    font-size: 22px;
    border-radius: 6px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

#notif {
    position: absolute;
    left: 124px;
    bottom: 600px;
    background-color: white;
    border-color: white !important;
    font-size: 22px;
    border-radius: 6px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

#Favoris {
    position: absolute;
    left: 250px;
    bottom: 600px;
    background-color: white;
    border-color: white !important;
    font-size: 22px;
    border-radius: 6px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

#Paramètre {
    position: absolute;
    left: 365px;
    bottom: 600px;
    background-color: white;
    border-color: white !important;
    font-size: 22px;
    border-radius: 6px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.addlog {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    right: 100px;
    bottom: 610px;
    background-color: #cdc9c9;
    width: 270px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.addlog:hover {
    background-color: #5fd7e0;
}


.card{
    position: absolute;
    top: 600px;
   
}