<div class="carreau1">
    <div class="carousel-container">


        <div class="pom">
            <img src="assets/app4.jpg" alt="" class="img" loading="lazy" style="width: 70%;height: 70%;" />
        </div>


    </div>
</div>


<div class="carreau2">

    <div class="row">
        <span class="label">Titre:</span>
        <span class="value">Maison à louer à Sousse</span>
    </div>
    <div class="row">
        <span class="label">Gouvernorat:</span>
        <span class="value">Sousse</span>
    </div>
    <div class="row">
        <span class="label">Ville:</span>
        <span class="value">Msaken</span>
    </div>
    <div class="row">
        <span class="label">Prix:</span>
        <span class="value">120 TND/nuit</span>
    </div>
    <div class="row">
        <span class="label">Surface:</span>
        <span class="value">90 m²</span>
    </div>
    <div class="row">
        <span class="label">Type:</span>
        <span class="value">Maison</span>
    </div>
    <div class="row">
        <span class="label">État:</span>
        <span class="value">Bon état</span>
    </div>
    <div class="row">
        <span class="label">Nombre de chambres:</span>
        <span class="value">2</span>
    </div>
    <div class="row">
        <span class="label">Nombre de lits:</span>
        <span class="value">4</span>
    </div>
    <div class="row">
        <span class="label">Nombre de salles de bain:</span>
        <span class="value">1</span>
    </div>
    <div class="row">
        <span class="label">Disponible à partir:</span>
        <span class="value">10/12/2024</span>
    </div>
</div>






<div class="carreau3">

    <h4 class="description"> description : </h4>
    <h5> Nous avons le plaisir de vous présenter cette magnifique Maison disponible à la location. Située dans un
        quartier calme et résidentiel, cette maison offre un cadre de vie idéal pour vous et votre famille. la maison
        dispose d'une Superficie spacieuse
        et bien agencée, offrant un espace de vie confortable.</h5>

</div>

<div class="carreau4">
    <h4>owner foulen</h4>
    <button type="button" class="btn btn-secondary" (click)="reservation()">reserver</button>
</div>