<div class="carreau1">
    <div class="carousel-container">


        <div class="pom">
            <img src="assets/app4.jpg" alt="" class="img" loading="lazy" style="width: 70%;height: 70%;" />
        </div>


    </div>
</div>


<div class="carreau2">
    <h1 class="titre"> Titre : Maison a louer a Sousse</h1>
    <h2 class="surface">gouvernorat : Sousse</h2>
    <h2 class="surface">ville : Msaken</h2>
    <h2 class="prix"> Prix : 120 TND/nuit</h2>
    <h2 class="surface">Surface : 90 m²</h2>
</div>





<div class="carreau3">

    <h4 class="description"> description : </h4>
    <h5> Nous avons le plaisir de vous présenter cette magnifique Maison disponible à la location. Située dans un
        quartier calme et résidentiel, cette appartement offre un cadre de vie idéal pour vous et votre famille. la
        maison dispose d'une Superficie spacieuse
        et bien agencée, offrant un espace de vie confortable.</h5>

</div>

<div class="carreau4">
    <h4>owner foulen</h4>
    <button type="button" class="btn btn-secondary" (click)="reservation()">reserver</button>
</div>